component_perfect_loop_hls_cpp_cosim/
component_perfect_loop_hls_cpp/
_ide/
.vscode/
logs/
MHGD_hw/
output/
debug.log/
MHGD_accel_1.cpp/
MHGD_accel_1.h/
MIMO_simulation_1.cpp/
MIMO_simulation_1.h/
MMSE_1.cpp/
MMSE_1.h/
run_cpp.tcl/
sys_config_1.h/
tb_1.cpp/
util_1.cpp/
util_1.h/

# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata